body.pace-big.pace-running #app-container {
  opacity: 0;
}

body.pace-big.pace-done #app-container {
  opacity: 1;
}

body.pace-big .pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  background: url('../imgs/loading-logo.png') no-repeat center top;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 150px;
  overflow: hidden;
}

body.pace-big .pace:after {
  /*content: "";*/
  /*display: block;*/
  /*position: absolute;*/
  /*top: 20px;*/
  /*left: 50px;*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*background: url('../imgs/ellipsis.gif') no-repeat center top;*/
}

body.pace-big .pace.pace-inactive {
  display: none;
}

body.pace-small .pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body.pace-small .pace-inactive {
  display: none;
}

body.pace-small .pace {
  z-index: 999999999999999999;
  position: fixed;
}

body.pace-small .pace .pace-progress {
  z-index: 999999999999999999;
  position: fixed;
  background: #FFF500;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

body.pace-big {
  -webkit-filter: url("#gooey");
  filter: url("#gooey");
  width: 100%;
  height: 100%;
}

svg.gooey {
  display: none;
}

body.pace-big .blob {
  width: 2rem;
  height: 2rem;
  background: #cececd;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 1rem);
  top: calc(50% - 1rem);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
}

body.pace-big .blob-2 {
  -webkit-animation: animate-to-2 1.5s infinite;
  animation: animate-to-2 1.5s infinite;
}

body.pace-big .blob-3 {
  -webkit-animation: animate-to-3 1.5s infinite;
  animation: animate-to-3 1.5s infinite;
}

body.pace-big .blob-1 {
  -webkit-animation: animate-to-1 1.5s infinite;
  animation: animate-to-1 1.5s infinite;
}

body.pace-big .blob-4 {
  -webkit-animation: animate-to-4 1.5s infinite;
  animation: animate-to-4 1.5s infinite;
}

body.pace-big .blob-0 {
  -webkit-animation: animate-to-0 1.5s infinite;
  animation: animate-to-0 1.5s infinite;
}

body.pace-big .blob-5 {
  -webkit-animation: animate-to-5 1.5s infinite;
  animation: animate-to-5 1.5s infinite;
}

@-webkit-keyframes animate-to-2 {
  25%,
  75% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
    transform: translateX(-1.5rem) scale(0.75);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-2 {
  25%,
  75% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
    transform: translateX(-1.5rem) scale(0.75);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-3 {
  25%,
  75% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
    transform: translateX(1.5rem) scale(0.75);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-3 {
  25%,
  75% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
    transform: translateX(1.5rem) scale(0.75);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-1 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
    transform: translateX(-1.5rem) scale(0.75);
  }
  50%,
  75% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
    transform: translateX(-4.5rem) scale(0.6);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-1 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
    transform: translateX(-1.5rem) scale(0.75);
  }
  50%,
  75% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
    transform: translateX(-4.5rem) scale(0.6);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-4 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
    transform: translateX(1.5rem) scale(0.75);
  }
  50%,
  75% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
    transform: translateX(4.5rem) scale(0.6);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-4 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
    transform: translateX(1.5rem) scale(0.75);
  }
  50%,
  75% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
    transform: translateX(4.5rem) scale(0.6);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-0 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
    transform: translateX(-1.5rem) scale(0.75);
  }
  50% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
    transform: translateX(-4.5rem) scale(0.6);
  }
  75% {
    -webkit-transform: translateX(-7.5rem) scale(0.5);
    transform: translateX(-7.5rem) scale(0.5);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-0 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
    transform: translateX(-1.5rem) scale(0.75);
  }
  50% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
    transform: translateX(-4.5rem) scale(0.6);
  }
  75% {
    -webkit-transform: translateX(-7.5rem) scale(0.5);
    transform: translateX(-7.5rem) scale(0.5);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-5 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
    transform: translateX(1.5rem) scale(0.75);
  }
  50% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
    transform: translateX(4.5rem) scale(0.6);
  }
  75% {
    -webkit-transform: translateX(7.5rem) scale(0.5);
    transform: translateX(7.5rem) scale(0.5);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-5 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
    transform: translateX(1.5rem) scale(0.75);
  }
  50% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
    transform: translateX(4.5rem) scale(0.6);
  }
  75% {
    -webkit-transform: translateX(7.5rem) scale(0.5);
    transform: translateX(7.5rem) scale(0.5);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
}
