label {
	font-weight: 400;
	font-size: 16px;
    color: darken($primary-color,30%);

    &.inline {
    	display: inline-block;
    	margin-right: 15px;
    }
}

textarea {
	resize: vertical;
}

.form-control {
    height: 42px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.remember-me-checkbox {
	display: block;
	@media (min-width: $screen-md-min) {
		float: left;
	}

	input {
		margin-right: 5px;
	}
}

.file-dropper {
	background: #fff;
	border: 2px dashed lighten($primary-color,20%);
	width: 640px;
	height: 360px;
	position: relative;
	margin: 20px auto;
	&.tall {
		height: 360px;
	}
	span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
		span {
			position: relative;
			transform: none;
			left: auto;
			top: auto;
		}
	}
}


.radio-styled {

	display: none;

	& + label{
		position: relative;
		display: inline-block;
		margin-right: 15px;

		&:before {
			content: '';
			display: inline-block;
			border: 2px solid #ccc;
			border-radius: 50%;
			background: #fff;
			height: 20px;
			width: 20px;
			margin-right: 5px;
		    position: relative;
		    top: 4px;
		}
		&:after {
			content: '';
			display: none;
			background: $brand-primary;
		    border-radius: 50%;
		    height: 10px;
		    width: 10px;
		    position: absolute;
		    top: 9px;
		    left: 5px;
		}
	}

	&:checked + label {
		&:after {
			display: block;
		}
	}

}

select.form-control {
    border: 1px solid #ececec;
    padding: 10px 34px 10px 10px;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    background: url('/imgs/select-arrow.png') no-repeat right center;
    border-radius: 4px !important;
}

.progress-striped .progress-bar, .progress-bar-striped {
	background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
    background-size: 80px 40px;
}
