.track-listing {
	letter-spacing: -.25px;

	thead {
		@extend .darker;
		font-size: 16px;
	}

	tr{
		td:nth-child(1), td:nth-child(2), td:nth-child(5) {
			width: 50px;
		}
		// td:nth-child(3),
		// td:nth-child(4),
		td:nth-child(6) {
			width: 33%;
		}
		td {
			&.cell-title {
				line-height: 18px;
			}
		}
	}

	tbody {
		tr{
			&.playing, &:hover {
				td {
					background: #fff;
				}
			}
		}
	}
}
