@mixin theme-header($list) {
  #navbar {
    width: 100%;
    height: $navbar-height + 1;
    border-bottom: 1px solid #F0F1F1;
  }

  #rubix-nav-header {
    transition: all 0.3s ease;
    border: none;
    margin-left: 0;
    background: get($list, header, bg);

    .brand-icon {
      height: $navbar-height;
      position: relative;
      display: block;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      &:focus, &:hover {
        border: none;
        padding-bottom: 0;
      }
    }

    .navbar-brand {
      width: 100%;
      text-align: center;
      color: get($list, header, color);

      > img {
        top: -3px;
        position: relative;
      }

      @media (max-width: 320px) {
        > img {
          width: 80px;
          left: -10px;
        }
      }
    }

    .navbar-content {
      height: $navbar-height;
    }

    .navbar-nav {
      margin: 0;
      display: inline-block;

      &:first-child {
        margin-left: -25px;
      }
      &:last-child {
        margin-right: -10px;
      }

      svg {
        fill: #C1C1C1;
        position: absolute;
      }
    }

    .navbar-nav > li {
      > a {
        border: none;
        padding: 22.5px 15px;
        display: block;
        font-size: 14px;
        letter-spacing: -.25px;
        font-weight: 100;
        position: relative;
      }

      > a > .rubix-icon {
        // only used for light text on dark background
        // remove this if you are using lighter header background
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }

      &.divider {
        height: $navbar-height;
        border: 1px solid get($list, header, divider, color);
      }

      &.dropdown > a {
        padding-left: 0;
      }

      &.dropdown.open > a {

      }

      &.active > a, > a {
        height: $navbar-height;
        font-size: 14px;
        background: none;
        text-align: center;
        color: get($list, header, color);

        &:hover {
          color: get($list, header, color);
        }

        .global-nav-item {
          margin-left: 30px;
          display: inline-block;
        }
      }

      &.pressed > a {
        color: white;
      }

      &.logout > a, &.sidebar-btn > a {
        width: 80px;
        font-size: 30px;
        padding-left: 0;
        padding-right: 0;
      }

      &.logout > a {
        color: get($list, header, logout, color);
        background: get($list, header, logout, bg);

        &:hover {
          background: get($list, header, logout, hover-bg);
        }
      }

      &.sidebar-btn > a {
        color: get($list, header, sidebar-btn, color);
        background: get($list, header, sidebar-btn, bg);

        &:hover {
          background: get($list, header, sidebar-btn, hover-bg);
        }

        span.rubix-icon {
          &:before {
            content: none;
          }

          background-image: url('/imgs/hamburger-btn.png');
          display: block;
          width: 28px;
          height: 20px;
          margin-left: 40px;
        }
      }

      &.collapse-left > a {
        padding-left: 0;
      }

      &.collapse-right > a {
        padding-right: 0;
      }

      &.small-font > a {
        font-size: 20px;
      }

      .avatar-container {
        position: relative;
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        border: none;
        img {
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .avatar-name {
        margin-left: 50px;
        margin-right: 0px;
      }

      &.notification-badge {
        margin-right: 20px;
        padding: 20px 0;

        .btn-group > .btn:first-child {
          margin-top: -10px;
          border: none !important;
          background: none !important;
          color: $primary-color !important;
          .caret {
            display: none;
          }
        }

        .btn-group.open .dropdown-toggle {
          box-shadow: none;
        }

        .dropdown-menu {
          background-color: $nav-tabs-link-hover-border-color;
          margin-top: 10px;
          width: 360px;
          li {
            border-bottom: 1px solid #DFE0E1;
            &:first-child {
              border-top: 1px solid #DFE0E1;
            }
            &.unread {
              background-color: #fefefe;
            }

            &> a {
              display: block;
              position: relative;
              padding: 10px 30px 5px 40px;

              &:hover, &:active, &:visited {
                background: inherit;
                color: inherit;
              }
              span.times {
                font-size: 13px;
                color: $nav-link-color;
              }
              p {
                margin-bottom: 5px;
              }
              a.btn-close {
                position: absolute;
                left: 7px;
                top: 3px;
                color: $primary-color;
                font-size: 36px;
                line-height: 1;
                font-weight: 100;
                opacity: .8;
                display: block;
                background: none !important;

                &:hover {
                  text-decoration: none;
                  opacity: 1;
                }
              }
              a.view-mark {
                position: absolute;
                right: 7px;
                top: 10px;
                color: $primary-color;
                font-size: 16px;
                line-height: 1;
                font-weight: 100;
                display: block;
                background: none !important;
              }
            }
          }
        }
      }

      .notification-counter {
        font-size: 10.5px;
        font-weight: 500;
        margin-left: 10px;
        line-height: 21px;
        margin-top: -5px;
        position: absolute;
        background: #F04E75;
        color: #ffffff;
        border-radius: 50%;
        z-index: 2;
        width: 20px;
        height: 20px;
        display: block;
      }

      &.nav-profile {
        padding: 22.5px 0;

        .btn-group > .btn:first-child {
          padding: 0 15px 0 0;
          font-size: 14px;
          font-weight: 500 !important;
          background: none;
          text-align: center;
          color: $primary-color;
        }
      }
    }

    a.btn.btn-new-videos {
      background: transparent;
      color: #23BCEC;
      border: 2px solid $brand-primary;
      padding: 5px 15px;
      height: auto;
      margin: 18px 0px 18px -15px;
      font-size: 14px;
      &:hover {
        background: $brand-primary;
        color: #ffffff;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    #rubix-nav-header {
      margin-left: get($list, sidebar, width);
    }
  }

  #flag-menu-btn {
    >img {
      top: -2px;
      position: relative;
    }
  }

  .lang-menu-text {
    line-height: 32px;
  }

  #notifications-menu, #rss-menu, #flag-menu, #settings-menu {
    border: none;
    margin-top: 0px;
    overflow: visible;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-top: 5px solid get($list, theme, bg) !important;

    &:after {
      top: -14px;
      right: 25px;
      content: '';
      position: absolute;
      display: inline-block;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid get($list, theme, bg);
    }
  }

  #notifications-menu, #rss-menu {
    > li {
      border-bottom: 1px solid #f2f2f2;
      &:last-child {
        border-bottom: none;
      }
    }

    > li > a > .container-fluid {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    > li > a > .container-fluid > .row {
      > .avatar-container {
        width: 75px;
        padding-right: 10px;

        .label {
          font-size: 8px;
        }
      }

      > .notification-container {
        width: 225px;

        >.time {
          line-height: 1;
          font-size: 10px;
          padding-bottom: 5px;

          >strong >.rubix-icon {
            margin-right: 5px;
          }
        }

        >.message-header {
          line-height: 1;
          font-size: 12px;
          padding-bottom: 5px;
        }

        >.message-details {
          line-height: 1;
          font-size: 10px;
          padding-bottom: 5px;
        }
      }
    }

    .notification-footer-btn {
      margin: 0;
      height: 100%;
      font-size: 12px;
      border-radius: 0;
      font-weight: bold;
      padding: 6px 12px;
      border: none !important;
      color: #98A0A3 !important;
      background: #F9FAFB !important;

      &:hover, &:focus {
        border: none !important;
        background: darken(#F9FAFB, 5%) !important;
      }

      &.left-btn {
        border-right: 1px solid #DDE1E6 !important;
      }
    }
  }
}
