.has-success .help-block, .has-success .control-label {
  color: $brand-success;
}

.has-error .help-block, .has-error .control-label {
  color: $brand-danger;
}

.header.margin-bottom-10 {
  margin-bottom: 10px;
}

.alert.alert-danger {
  border: solid 2px $brand-danger;
  color: $brand-danger;
}

.alert-dismissable.alert-danger {
  .close, .close:hover {
    color: $brand-danger;
  }
}