#body.project-body {
  hr.separator {
    border-top: 1px solid #dddddd;
  }

  .icon-outlined-pencil, .icon-fontello-wrench-4, .icon-outlined-trash-bin {
    margin-left: 10px;
    color: #D1D1D1;
    cursor: pointer;
    &:hover {
      color: $brand-primary;
    }
  }

  .loading {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      border: .1rem solid $brand-primary-dark;
      border-top-color: $brand-primary;
      animation: spin $spin-duration infinite linear;
  		display: inline-block;
  		margin-bottom: 30px;
      margin-top: 60px;
  }

  &.wide-sidebar {
    .body-sidebar__container {
      padding-right: 320px;
    }

    .body-sidebar__element {
      width: 320px;
      overflow: auto !important;
      padding: 0;
    }
  }

  table.track-listing {
    tr {
      td {
        .action-drag-cancel {
          display: none;
        }

        &.cell-title {
          cursor: text;
        }

        .progress {
          &.track-progress {
            float: right;
            height: 8px;
            width: calc(100% - 45px);
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }

        button {
          outline: none !important;
          width: 32px;
          padding: 0;
        }
      }

      &.drag-enable {
        cursor: move;
        border-bottom: 1px dashed gray !important;
        border-left: 1px dashed gray !important;
        border-right: 1px dashed gray !important;

        td {
          border-top: 1px dashed gray !important;

          .action-play, .action-drag-enable, .action-editor, .action-remove-track {
            display: none;
          }
          .action-drag-cancel {
            display: inline-block;
          }
        }
      }
    }
  }

  .file-dropper {
    position: relative;
    .btn {
      position: absolute;
      width: 200px;
      height: 50px;
      top: calc(50% - 20px);
      left: calc(50% - 100px);
      border-color: #52caf0;
      font-size: 14px;
      color: #fff;
      background-color: #0BBCEF;
      border: none;
      font-weight: 500 !important;
      line-height: 43px;
    }
  }

  .artwork-preview {
    position: relative;
    width: 640px;
    min-height: 360px;
    margin: 0px auto;

    > img {
      width: 100%;
      height: auto;
    }

    .remover {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 40px;
      background: rgba(61, 67, 104, 0.9);

      a {
        color: #fff;
        line-height: 36px;
        margin: 0;
        padding: 0;
      }

      .btn {
        position: absolute;
        width: 200px;
        height: 40px;
        margin: 0px auto;
        top: calc(50% - 20px);
        left: calc(50% - 100px);
        border-color: #52caf0;
        font-weight: 300 !important;
        font-size: 14px;
      }
    }

    &:hover {
      .remover {
        display: block;
      }
    }

    &.preview {
      width: auto;
      min-height: auto;
      margin: 0px 40px;

    }
  }

  &.build-order-page {

    .video-size-cards {
      margin-bottom: 25px;

      .white-box {
        text-align: center;
        padding: 40px 30px;
        background-color: white;
        border-radius: 4px;
        border: solid 2px $divider-color;
        cursor: pointer;

        &.active {
          border: solid 2px $brand-primary;
        }

        .dp {
          font-size: 40px;
          display: block;
          line-height: 1.1;
          font-weight: 700;
          color: #666666;
          letter-spacing: -.5px;
        }

        .color-primary {
          font-size: 24px;
        }

        p.credits {
          margin: 30px 0;
          height: 40px;
          b {
            font-size: 22px;
            font-weight: normal;
            color: #666666;
          }
        }
      }
    }

    .btn-text-large {
      font-size: 14px !important;
    }

    ul.tracks {
      list-style: none;
      padding: 25px 25px 0 25px;
      height: calc(100% - 105px);
      overflow-y: auto;
      border-bottom: 1px solid #eeeeee;

      li {
        position: relative;
        margin-bottom: 20px;

        .preview {
          position: relative;
          /*height: 66px;*/
          width: 110px;
          overflow: hidden;
          background-color: #eeeeee;
          margin-left: -13px;

          img {
            width: 100%;
            height: auto;
          }

          .duration {
            position: absolute;
            right: 5px;
            bottom: 5px;
            padding: 3px;
            font-size: 12px;
            line-height: 1;
            display: block;
            background-color: rgba(0, 0, 0, 0.75);
            border-radius: 2px;
            color: white;
            margin-bottom: 0;
          }
        }

        span {
          display: block;
          line-height: 1.1;
          font-size: 14px;
          margin-bottom: 4px;

          &.track-title {
            color: #666666;
          }

        }

        a.closer {
          position: absolute;
          top: 0;
          right: -8px;

          .rubix-icon {
            color: $nav-link-color;
          }
        }
      }
    }
  }

  select.status-filter {
    background: white;
    outline: none;
    height: 28px;
    margin-right: 4px;
    margin-bottom: 8px;
  }

  &.builds {

    .cell-header {
      font-size: 16px;
    }

    .artwork {
      .preview {
        position: relative;
        height: auto;
        width: 100%;
        background-color: #eeeeee;

        img {
          width: 100%;
          height: auto;
        }

        .duration {
          position: absolute;
          right: 5px;
          bottom: 5px;
          padding: 3px;
          font-size: 12px;
          line-height: 1;
          display: block;
          background-color: rgba(0, 0, 0, 0.75);
          border-radius: 2px;
          color: white;
          margin-bottom: 0;
        }
      }

      span {
        display: block;
        line-height: 1.1;
        font-size: 14px;
        margin-bottom: 4px;

        &.track-title {
          color: #666666;
        }

      }
    }

    .actions {
      a, span {
        padding: 0 3px;

      }

    }
  }

  &.project-settings {
    .play-title {
      position: absolute;
      padding: 10px 12px 10px;
      width: 160px;
      bottom: 20px;
      left: 20px;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;

      .title {
        font-weight: 700;
        display: block;
      }

      .subtitle {
        font-weight: 500;
        display: block;
      }
    }

    .watermark {
      position: absolute;
      right: -1px;
      bottom: 20px;
      width: auto !important;

      &.custom {
        right: 20px;
        max-width: 15%;
        max-height: 27%;
      }
    }

    .watermark-preview {
      position: relative;
      background: url('/imgs/watermark-bg.png') no-repeat;
      background-size: 100px 100px;
      width: 100px;
      height: 100px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 90%;
        max-height: 90%;
        margin-left: -5%;
        margin-right: -5%;
        display: inline-block;
      }
    }

    .form-settings {
      .form-group {
        margin-bottom: 9px;

        .control-label {
          text-align: left;
          padding-left: 13px;
          font-size: 14px;
          line-height: 26px;
          font-weight: 100;
        }
      }
    }
  }
}
