@font-face {
    font-family: 'Proxima';
    src: url(fonts/proxima/proximanova-regular-webfont.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima';
    src: url(fonts/proxima/proximanova-light-webfont.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Proxima';
    src: url(fonts/proxima/proximanova-bold-webfont.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima';
    src: url(fonts/proxima/ProximaNova-Extrabold.ttf) format('truetype');
    font-weight: 800;
}